{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="row">
    <div class="col s12">
        <div class="carousel carousel-slider parallax">
            <a class="carousel-item" href="#one!"><img src="/static/images/jewellery-3.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="/static/images/jewellery-2.jpg"></a>
            <a class="carousel-item" href="#three!"><img src="/static/images/jewellery-1.jpg"></a>
        </div>
    </div>
</div>

<div class="row container">
    <div class="col s12 m4">
        <img class="materialboxed"  width="100%" src="/static/images/jewellery-1.jpg">
    </div>
    <div class="col s12 m4">
        <img class="materialboxed"  width="100%" src="/static/images/jewellery-3.jpg">
    </div>
    <div class="col s12 m4">
        <img class="materialboxed"  width="100%" src="/static/images/jewellery-1.jpg">
    </div>

</div>

<div class="row container">
    <div class="col s12">
        <h5 class="center">BEST SELLERS</h5>
        <!--<i class="material-icons center">leak_add</i>-->
        <p class="center">This unique jewelry is handcrafted on the beautiful island of Nantucket using fine silver and semi precious stones.

            View glasse fashion collection 2018 by Fanbong</p>

    </div>
</div>

<div class="row container">
    <div class="col s12 center">
        {% if cat %}
        {% for obj in cat %}

        <a href="{% url 'home:product_category' name=obj.name %}" class="{% if current_category == obj.name %} active {% endif %} waves-effect waves-teal btn-flat">{{obj.name}}</a>
        {% endfor %}
        {% else %}

        <p class="center">No categories</p>

        {% endif %}

    </div>
</div>






<div class="row">
    <div class="col s12">

        <div class="row container">
            <div class="col s12 m4 offset-l1">

                {% if product_list %}
                {% for obj in product_list %}

                <div class="card">
                    <div class="card-image">
                        <img src="{{obj.image.url}}" class="responsive-img materialboxed">
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content">
                        <p>{{obj.gender_category}}</p>
                    </div>
                    <div class="card-action grey-text">
                        <span class="card-title ">{{obj.title}}</span>
                        <p><strike>${{obj.original_price}}</strike>  ${{obj.selling_price}}</p>
                        <a href="#">Link</a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h2 class="center">No results found for this category</h2>
                <p class="center">Kindly visit again later</p>
                {% endif %}
            </div>
        </div>

    </div>
</div>


<div class="row container">
    <div class="col s12">
        <h5 class="center">NEW ARRIVALS</h5>
        <!--<i class="material-icons center">leak_add</i>-->
        <p class="center">This unique jewelry is handcrafted on the beautiful island of Nantucket using fine silver and semi precious stones.

            View glasse fashion collection 2018 by Fanbong</p>
    </div>
</div>

<!--<div class="row ">-->
    <!--<div class="col s12">-->
        <!--<div class="parallax-container">-->
            <!--<div class="parallax"><img src="/static/images/jewellery-2.jpg"></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="row">
    <div class="col s12">

        <div class="row container">
            <div class="col s12 m4 offset-l1">

                {% if product_latest %}
                {% for obj in product_latest %}

                <div class="card">
                    <div class="card-image">
                        <img src="{{obj.image.url}}" class="responsive-img materialboxed">
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content">
                        <p>{{obj.gender_category}}</p>
                    </div>
                    <div class="card-action grey-text">
                        <span class="card-title ">{{obj.title}}</span>
                        <p><strike>${{obj.original_price}}</strike>  ${{obj.selling_price}}</p>
                        <a href="#">Link</a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h2 class="center">No results found for this category</h2>
                <p class="center">Kindly visit again later</p>
                {% endif %}
            </div>
        </div>

    </div>
</div>


<div class="row container">
    <div class="col s12">
        <h5 class="center">LATEST NEWS FROM THE BLOG</h5>
        <!--<i class="material-icons center">leak_add</i>-->
        <p class="center">This unique jewelry is handcrafted on the beautiful island of Nantucket using fine silver and semi precious stones.

            View glasse fashion collection 2018 by Fanbong</p>
    </div>
</div>

<div class="row container">
    <div class="col s12 m6">
        {% if blog %}
        {% for obj in blog %}
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{obj.user_image.url}}" >
    </div>
    <div class="card-content">
      <!--<span class="card-title activator grey-text text-darken-4">Title<i class="material-icons right">more_vert</i></span>-->
      <p><i href=""class="fa fa-user"> {{obj.username}}</i> | <i href=""class="fa fa-calendar"> {{obj.posted_on}}</i></p>
        <p>{{obj.content|truncatechars:50}}</p>
        <span class="card-title activator grey-text text-darken-4">Read more<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{obj.title}}<i class="material-icons right">close</i></span>
      <p>{{obj.content}}</p>
    </div>
  </div>
        {% endfor %}
                {% else %}
                <h2 class="center">No results found for this category</h2>
                <p class="center">Kindly visit again later</p>
                {% endif %}
         </div>
</div>



{% endblock content %}


{% block script %}

{% endblock script %}