

@media  screen and (max-width:1024px){


    .cd-timeline-content h2 {
        font-size:18px !important;
        margin-top:5px;
    }

    .about-heading {
        border-left: 2px solid black;
        margin: 3em 0;
    }
    .cd-timeline-img i {
        padding: 7px;
        color: white;
    }
    .home-services-panel {
        height:auto;
        border: 1px solid #cae0e7;
    }

    .about-top-heading {
        text-align: left;
        font-size: 18px;
        font-weight: 300;
        border:2px solid #E1E1E1;
        padding:20px;
        color: #999;
    }

    .about-top-heading1 {
        margin-bottom: 17px;
        margin-top: 100px;
    }

    .about-heading-main {
        background: #f7f9fa;
        height: 200px;
    }



    .about-heading {
        margin-left: 2px;
    }


    .b-home-feature-bottom {
        border-bottom: none;
    }

    .b-home-feature-top {
        border-top: none;
    }

    .b-home-feature-left {
        border-left: none;
    }

    .b-home-feature-right {
        border-right: none;
    }

    .home-features {
        padding: 0;
    }
    .home-features-row {
        padding:0;
    }

    .home-services-filler {
        border-right: 1px solid #cae0e7;
        border-left: 1px solid #cae0e7;
        height:30px;
    }

    .blog .card-title {
        font-size:1.3rem;
    }

    .service-heading-banner {
        background: #f7f9fa;
        height: 200px;
    }

    .blog-banner {
        background: #f7f9fa;
        height: 200px;
    }

    .about-heading-main {
        background: #f7f9fa;
        height: 87px;
        margin-bottom: 0;
    }

    .about-heading-plain1 {
        font-weight: 100;
        margin-top: 15px;
    }
    .blog-banner {
        background: #f7f9fa;
        height: 87px;
    }

    .blog-banner h1 {
        font-weight: 100;
        margin-top: 15px;

    }



}

/*calm_home*******/

/*only for ipad*********************************/

@media  (min-width: 750px) and (max-width:1020px ) {



        .banner {
    max-height: 450px;
    }

    .banner img{
    height: 95%;
    width: 100%;
    }

    .style_prevu_kit
    {
    display:inline-block;
    border:0;
    width:200px;
    height:130px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);

    }

    .style_prevu_kit:hover
    {
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.15);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.15);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.15);
    transition: all 200ms ease-in;
    transform: scale(1.15);
    }

    .card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-height: 145px;
    }

    .card .card-image_a img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-height: 180px;
    }

       .carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 450px;
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

.slide_a {
	padding: 1 5%;
	height: 550px;
	overflow-y: scroll;
	position: initial;
}

.slide_b {
	padding: 1 5%;
	/*height: 350px;*/
	overflow: hidden;
}


}






