

@media  (min-width: 991px) and (max-width:1024px ){
    .cd-timeline-img i {
        padding: 18px !important;
        color: white;
    }


    #cd-timeline {
        width: 100%;
    }

    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        padding:12px;
        font-size: 16px;
        font-size: 1rem;
    }

    .cd-container {
        /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
        width: 90%;
        max-width: 1024px;
        margin: 0;
    }


    .studio-features-subheading .studio-features-subheading1 {
        color: #FF396A;
        font-size: 1.1rem;
        text-align: left;
    }

    .studio-features {
        padding: 7% 0;
        border-bottom: 1px solid #eee;
    }

    .studio-features2 {
        padding:0;
    }

    .studio-feature-leftbg {
        padding-left: 14%;
        padding-top: 20px;
        padding-bottom:40px;
        background:url("../images/1.png");
        background-size: cover;
    }


    .studio-feature-rightbg {
        padding-right: 14%;
        padding-top: 20px;
        padding-bottom:40px;
        background:url("../images/2.png");
        margin-top:-3px;
        background-size: cover;
    }

    .studio-features2 p {
        text-align: justify;
        line-height: 22px;
    }


    /*calm_home*******/


   .carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 650px;
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}



    .style_prevu_kit
{
    display:inline-block;
    border:0;
    width:250px;
    height:150px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);

}
.style_prevu_kit:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.15);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.15);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.15);
    transition: all 200ms ease-in;
    transform: scale(1.15);
}

.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-height: 140px;
}

.card .card-image_a img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-height: 210px;
}

.slide_a {
	padding: 1 5%;
	height: 550px;
	/*overflow-y: scroll;*/
    overflow: hidden;
	position: initial;
}


.banner {
	max-height: 400px;
}

.banner img{
	height: 95%;
	width: 100%;
}






}

