

@media  screen and (max-width:1024px){


    .cd-timeline-content h2 {
        font-size:18px !important;
        margin-top:5px;
    }

    .about-heading {
        border-left: 2px solid black;
        margin: 3em 0;
    }
    .cd-timeline-img i {
        padding: 7px;
        color: white;
    }
    .home-services-panel {
        height:auto;
        border: 1px solid #cae0e7;
    }

    .about-top-heading {
        text-align: left;
        font-size: 18px;
        font-weight: 300;
        border:2px solid #E1E1E1;
        padding:20px;
        color: #999;
    }

    .about-top-heading1 {
        margin-bottom: 17px;
        margin-top: 100px;
    }

    .about-heading-main {
        background: #f7f9fa;
        height: 200px;
    }



    .about-heading {
        margin-left: 2px;
    }


    .b-home-feature-bottom {
        border-bottom: none;
    }

    .b-home-feature-top {
        border-top: none;
    }

    .b-home-feature-left {
        border-left: none;
    }

    .b-home-feature-right {
        border-right: none;
    }

    .home-features {
        padding: 0;
    }
    .home-features-row {
        padding:0;
    }

    .home-services-filler {
        border-right: 1px solid #cae0e7;
        border-left: 1px solid #cae0e7;
        height:30px;
    }

    .blog .card-title {
        font-size:1.3rem;
    }

    .service-heading-banner {
        background: #f7f9fa;
        height: 200px;
    }

    .blog-banner {
        background: #f7f9fa;
        height: 200px;
    }

    .about-heading-main {
        background: #f7f9fa;
        height: 87px;
        margin-bottom: 0;
    }

    .about-heading-plain1 {
        font-weight: 100;
        margin-top: 15px;
    }
    .blog-banner {
        background: #f7f9fa;
        height: 87px;
    }

    .blog-banner h1 {
        font-weight: 100;
        margin-top: 15px;

    }

    .service-heading-banner h1 {
        font-weight: 100;
        margin-top: 15px
    }

    .service-heading-banner {
        background: #f7f9fa;
        height: 87px;
    }

    .service-heading-banner h1 {
        font-weight: 100;
        margin-top: 15px !important;
    }

    .picture-portfolio3 {
        padding:30px 10%;
        background: black;
    }
    .studio-features-subheading .studio-features-subheading1 {
        color: #FF396A;
        font-size: 14px;
        text-align: left;
    }
    .studio-features {
        padding: 6% 0;
        border-bottom: 1px solid #eee;
    }

    .studio-feature-leftbg {
        padding-left: 14%;
        padding-top: 20px;
        padding-bottom:40px;
        background:url("../images/1.png");
        background-size: cover;
    }

    .studio-feature-rightbg {
        padding-right: 14%;
        padding-top: 20px;
        padding-bottom:40px;
        background:url("../images/2.png");
        margin-top:-3px;
        background-size: cover;
    }

    .studio-features2 p {
        text-align: justify;
        line-height: 22px;
    }




    .carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;

  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}


.banner {
	max-height: 150px;
}

.banner img{
	height: 80%;
	width: 100%;
}



    .style_prevu_kit
{
    display:inline-block;
    border:0;
    width:180px;
    height:220px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);

}
.style_prevu_kit:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.25);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.25);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.25);
    transition: all 200ms ease-in;
    transform: scale(1.25);
}

}

