

@media  screen and (max-width:600px ){


    .mobile-full-width {
        width:100%;
    }
    .btn-sm {
        padding-bottom: .25rem;
        padding-left: .5rem;
        padding-right: .5rem;
        font-size: .7rem;
        border-radius: .2rem;
        height: 2.3em;
        line-height: 2.5em;
    }
    .btn-sm i {
        font-size: 1.5em;
        line-height: 1.5em;
    }

    h1 {
        font-size: 2.9rem !important;
        font-weight: 500;
    }
    h2 {
        font-size: 2.2rem !important;
        font-weight: 500;
    }
    h3 {
        font-size: 1.7rem !important;
        font-weight: 500;
    }
    h4 {
        font-size: 1.4rem !important;
        font-weight: 500;
    }
    h5 {
        font-size: 1rem !important;
        font-weight: 500;
    }
    h6 {
        font-size: 0.8rem !important;
        font-weight: 500;
    }

    .banner{
        background: url("../images/banner.jpg") no-repeat;
        background: none;
        height: 100%;
        background-position: right 2px;
    }

    .big-banner{
        background:#e3eefc;
        margin-bottom: 0px;
        height: 400px;
    }

    .why-img-leftright {
        height: 12%;
        width: auto;
    }

    .why-section h3 {
        font-weight: 400;
    }

    .b-home-feature-bottom {
        border-bottom: none;
    }

    .b-home-feature-top {
        border-top: none;
    }

    .b-home-feature-left {
        border-left: none;
    }

    .b-home-feature-right {
        border-right: none;
    }
    .home-features-item{
        padding-top:2% !important;
        height:250px;
    }

    .home-features-img img {
        height:110px;
        width:auto;
        margin:0 auto;
        margin-bottom:1%;
    }

    .home-services {
        margin:0;
    }

    .home-features-btn1 {
        border:1px solid #1D8BF1;
        margin-bottom:3%;
    }

    .home-features-btn2 {
        border:1px solid #FE564D;
    }

    .home-services-filler{
        display: none;
    }
    .footer-language-select {
        margin:0 auto;
        padding:0 25%;
    }

    .footer-social-icons {

        text-align: center;
    }
    .banner-text {
        margin-top: 70px;
    }

    .banner-text1 {
        margin-top: 70px;
    }

    .home-services-header h4 {
        margin:16px 0 !important;
        text-align: center;

    }

    .home-services-content  h5{
        text-align: center;
    }
    .home-services-panel p {
        display:none;
    }
    .contact-modal.modal.bottom-sheet {
        top: auto;
        bottom: -100%;
        margin: 0;
        width: 100%;
        max-height: 88%;

    }


    .contact-modal .modal-content{

        padding:24px 0;
    }

    .about-contact-text p {
        color:#555;
        font-weight: 300;
        font-size:11px;
    }

    .blog .card-image {
        overflow: hidden;
        height:300px;
    }

    .blog .card-image img{

    }

    .service-hover-heading {
        font-weight: 300;
        margin-top: 11%;
        margin-bottom: -7%;
        text-align: center;
    }
    .service-hover {
        background: #ddd;
        background: linear-gradient(#ffffff, #eaeaea);
        margin: 0;
    }

    .thumb {
        width: 200px;
        height: 200px;
        margin: 95px auto;
        perspective: 1000px;
    }

    .portfolio-video {
        min-width: 100%;
        height: 500px;

    }

    .cg .video-container {
        height:500px;
    }

    .video-overlay1 {
        position: absolute;
        top: 55%;
        left: 5%;
        text-align: left;
    }

    .service-hover-section img {
        border: 3px solid white;
        width: 200px;
        margin-top: 30px;
    }

    .service-hover-section p {
        font-size: 1.2em;
        font-weight: 300;
        text-align: center;
        margin: 36px 0;
    }
    .cg-features {
        padding-top:0;
        padding-bottom: 64px;
        background: url(../images/cg3.jpg);
        background-position: center;
        background-size: cover;
    }

    .picture-portfolio {
        background: #EFEFBB;
        background: -webkit-linear-gradient(to left, #D4D3DD, #EFEFBB);
        background: linear-gradient(to left, #D4D3DD, #EFEFBB);
        padding-bottom: 90px;
    }



    .service-hover-header h2{
        margin:20px 0;
        display: none;
    }

    .studio-features {
        padding:11% 0;
    }

    .studio-features2 {
        padding:0;
    }
    .studio-features2-section {
        margin-left: 10px;
    }


    .banner-text h1 {
        font-size:1.9rem !important;
    }

    .access-send-btn {
        margin-left: 11px;
        width: 100%;
    }

    .sidenav-bottom {
        color: black;
        position: absolute;
        bottom: 12%;
        z-index: 7;
        left:0;
        background: #efefef;
        width: 100%;
        font-size: 20px;
        color: #555;
        padding-left: 25%;
        /* text-align: center; */
    }

    .sidenav-bottom1 {
        color: black;
        position: absolute;
        bottom: 12%;
        left: 0;
        z-index: 7;
        background: #efefef;
        width: 100%;
        font-size: 20px;
        color: #555;
        padding-left: 26%;
        /* text-align: center; */
    }

    .video-container {
        background: url("../images/vidStatic.png");
        background-size: cover;
    }

    .banner{
        background: url("../images/banner.jpg") no-repeat;
        height: 100%;
        background-position: 21% 98%;    }

    .access-send-btn {
        margin-bottom:15px;
    }
    .studio-feature-leftbg {
        padding-left: 0 !important;
        padding-top: 20px;
        padding-bottom:40px;
        background:url("../images/1.png");
        background-size: cover;
    }

    .studio-feature-rightbg {
        padding-right: 0 !important;
        padding-top: 20px;
        padding-bottom:40px;
        background:url("../images/2.png");
        margin-top:-3px;
        background-size: cover;
    }

    .studio-features2 p {
        text-align: center !important;
        line-height: 26px;
    }

    .studio-features2 h3{
        text-align: center;
    }




    .style_prevu_kit
{
    display:inline-block;
    border:0;
    width:220px;
    height:250px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);

}
.style_prevu_kit:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.15);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.15);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.15);
    transition: all 200ms ease-in;
    transform: scale(1.15);
}


   .card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-height: 200px;
}


   .card .card-image_a img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-height: 200px;
}

   .carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 250px;
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

.slide_a {
	padding: 1 5%;
	height: 650px;
	overflow-y: scroll;
	position: initial;
}

.slide_b {
	padding: 1 5%;
	/*height: 350px;*/
	overflow-y: scroll;
}


.banner {
	max-height: 150px;
}

.banner img{
	height: 90%;
	width: 100%;
}


}


