@media screen and (min-width:1441px) {
	.banner-text {
		display:none;
	}

	.banner-text1 {
		display:block;
	}
}

@media screen and (max-width:1440px) {
	.banner-text {
		display:block;
	}

	.banner-text1 {
		display:none;
	}
}


/* BASE classes */

h2 , h3, h4, h5, h6 {
	/*font-family:'Oswald', 'Material Icons', sans-serif;*/
}

.no-decoration {
	text-decoration: none;
	font-style: normal;
	color: initial;
}
.responsive-img-kai {     /*top this with valign wrapper for centered image */
	width: 100%;
	min-height: 100%;
}
.fa-placholder {
	font-family: "FontAwesome";
}


.m-t-27px {
	margin-top: 27px;
}
.p-t-27px {
	padding-top: 27px;
}
/*@font-face {*/
/*font-family: japanese;*/
/*src: url(../fonts/japanese.otf);*/
/*}*/
/** {*/
/*font-family: japnese;*/
/*}*/
.m-0 {
	margin: 0 !important;
}
.m-1 {
	margin: 1vh;
}
.m-t-1 {
	margin-top: 1vh;
}
.m-b-1 {
	margin-bottom: 1vh;
}
.m-t-0 {
	margin-top:0 !important;
}
.m-b-0 {
	margin-bottom:0 !important;
}
.m-l-1 {
	margin-left: 1vh;
}
.m-r-1 {
	margin-right: 1vh;
}
.p-0 {
	padding: 0 !important;
}
.p-l-01 {
	padding-left: 0.1em !important;
}
.p-r-01 {
	padding-right: 0.1em !important;
}
.p-1 {
	padding: 1vh;
}
.p-t-1 {
	padding-top: 1vh;
}
.p-b-1 {
	padding-bottom: 1vh;
}
.p-l-1 {
	padding-left: 1vh;
}
.p-r-1 {
	padding-right: 1vh;
}
.b-0 {
	border: none !important;
}
.b-1 {
	border: 1px solid #eee;
}

.b-t-1-light {
	border-top:1px solid #cecece;
}
.b-1-dark {
	border: 1px solid #cecece;
}
.b-1-top {
	border: 1px solid #cecece;
}
.full-width {
	width: 100%;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
	color: #1A80EF;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #1A80EF;
	-webkit-box-shadow: 0 1px 0 0 #1A80EF;
	box-shadow: 0 1px 0 0 #1A80EF;
}


.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
	font-size: 1.3rem;
	vertical-align: bottom;
	line-height: inherit;
}

/* Base classes */


.truncate {
	text-overflow:ellipsis;
}
.banner{
	background: url("../images/banner.jpg") no-repeat;
	height: 100%;
	background-position: right 2px;
}
.big-banner{
	background:#e3eefc;
	margin-bottom: 0px;
	height: 660px;
}

.banner-text h1{
	font-size:3.2rem;
}
.banner-text h5{
	font-weight: 100;
}
.banner-text{
	margin-top:100px;
}
.navigation ul li a{
	font-weight: 200;
}
.home-know-more-btn{
	margin-top:50px;
}
.home-know-more-btn:nth-child(2){
	background: transparent;
	border:1px solid #26a69a;
}

@media screen and (min-width: 601px){
	.custom-container {
		padding:0 7%;
	}
	.nopad{
		padding:0px !important;
	}
}
@media screen and (max-width: 600px){
	.custom-container {
		padding:0;
	}
	.mobile-nopad{
		padding:0px !important;
	}
}


.contact-modal.modal.bottom-sheet {
	top: auto;
	bottom: -100%;
	margin: 0;
	width: 100%;
	max-height: 56%;

}


.why-section h3 {
	font-weight: 400;
	margin-top: 50px;
	margin-bottom: 5px;
	color:#333;
}

.why-section h6 {
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}
.why-section1, .why-section2, .why-section3 {
	padding:5%
;
}


.why-section1 {
	background-color:#F7F7F7;
}


.why-section3 {
	background-color:#F7F7F7;

}


.why-img-leftright {
	height:12%;
	width:auto;
}

.why-company-subheading {
	font-weight:200;
	font-size:1.4rem;
	line-height:1.8rem;
}

.why-top-img {
	margin-bottom:30px;
	margin-top:10px;
}

.hath-btn {
	background:#1A80EF !important;
	color: white !important;
	margin:3% 0;
	border-radius:3px;
	text-transform: uppercase;
}

.hath-hollow-btn {
	border: 1px solid #1A80EF;
	color: #1A80EF !important;
	margin:3% 0;
	border-radius:3px;
	text-transform: uppercase;
	background: transparent !important;
}

.access-heading {
	font-weight:400;
}
#particles-js{
	height:300px!important;
	background-color: #fff !important;
}
.service-heading-banner h1{
	font-weight: 100;
	margin-top:4.1rem;
}
.service-heading-banner{
	height:260px;
	background:#f7f9fa;
}
.border-top-grey{
	border-top:3px solid #ebebeb;
}
.service-first-box img{
	height:70px;
	margin:0 auto;
}
.service-first-box h4{
	font-weight: 100;
	color:#333;
}
.service-first-box{


	padding-top:15px !important;
	padding-bottom:8% !important;
	padding-left:4%;
	padding-right:4%;
}

.service-first-box p {
	font-size: 16px;
	font-weight: 300;
	color:#333;
}

.service-first-banner {
	padding-top:7%;
}
.footer {
	background: #F6F8F9;
	padding-top:10%;
	padding-bottom:4%;
}

.footer-item-head a {
	color:#586777 !important;
	font-size:1.5rem;
	font-weight: 300;
}

.footer-item-head {
	padding-bottom:20px;
}



.footer-item-subhead a {
	color:#586777 !important;
	font-size:1.05rem;
	font-weight: 300;
}

.footer-item-subhead {
	padding-bottom:5px;
}


.footer-item-col {
	padding-bottom:90px !important;
}

.footer-language-select input{
	border:none !important;
}

.service-call-btn {
	border-radius:50%;
	background: #1A80EF;
	height:200px;
	width:200px;
	left:50%;
	transform: translate(-50%,-250px);
	position: absolute;

}

.service-call-btn1 {
	color:white;
	font-weight:300;
	text-align: center;
	margin:0 auto;
	font-size:1.2rem;
	padding-top:10px;
}


.service-hover {
	background: #ddd;
	background: linear-gradient(#ffffff, #eaeaea);
	margin:0;
}


.thumb {
	width: 200px;
	height: 200px;
	margin: 111px auto;
	perspective: 1000px;
}

.thumb a {
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
	url("../images/hoverbird4.jpg");
	background-size: 0, cover;
	transform-style: preserve-3d;
	transition: all 0.5s;
}

/*.thumb:hover a {*/
/*transform: rotateX(80deg);*/
/*transform-origin: bottom;*/
/*}*/
.thumb a:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 36px;
	background: #F6F8F9;
	background-size: cover, cover;
	background-position: bottom;
	transform: rotateX(90deg);
	transform-origin: bottom;
}
.thumb a div {
	color: white;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	font: bold 12px/36px "Open Sans";
	text-align: center;
	transform: rotateX(-89.99deg);
	transform-origin: top;
	z-index: 1;
}
.thumb a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
	transition: all 0.5s;
	opacity: 0.15;
	transform: rotateX(95deg) translateZ(-80px) scale(0.75);
	transform-origin: bottom;
}

/*.thumb:hover a:before {*/
/*opacity: 1;*/
/*box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);*/
/*transform: rotateX(0) translateZ(-60px) scale(0.85);*/
/*}*/

.navigation {
	background:white;
}

.navigation a {
	/*height:40px;*/
	/*width:40px;*/
}

nav .button-collapse {
	height: 40px !important;
	width:40px !important;
	margin: 8px 0px;

}

nav .button-collapse i{
	line-height: 40px;
}
.home-companies {
	background: #dfe0e0;
	padding:6% 0;
	margin-bottom:0;
}


.b-home-feature-bottom {
	border-bottom: 1px solid #cae0e7;
}

.b-home-feature-top {
	border-top: 1px solid #cae0e7;
}

.b-home-feature-left {
	border-left: 1px solid #cae0e7;
}

.b-home-feature-right {
	border-right: 1px solid #cae0e7;
}


.home-features {
	border-right: 1px solid #cae0e7;
	border-left: 1px solid #cae0e7;
}

.home-features-row {
	padding:0 5%;
}

.home-features {
	padding:0 5%;
}
.home-features-img img {
	height:150px;
	width:auto;
	margin:0 auto;
	margin-bottom:2%;
}

.home-features-item{
	padding-top:4% !important;
	padding-bottom:2% !important;
	height:280px;
}


.home-features-btn {
	padding-top: 12px;
	margin:5% 0;
}
.home-features-btn1 {
	border:1px solid #1D8BF1;
}

.home-features-btn2 {
	border:1px solid #FE564D;
}

.home-services-filler {
	border-right: 1px solid #cae0e7;
	border-left: 1px solid #cae0e7;
	height:100px;

}


.home-services {
	margin: 0 13%;
}

.home-services-panel {
	border: 1px solid #cae0e7;
	height:688px;
	border: 1px solid #cae0e7;
}

.home-services-img1 {
	height:125px;
	width:auto;
	margin-top:16px;
	margin-bottom:16px;
	margin:0 auto;
	display: block;
}

.home-services-header h4 {
	margin:16px 0 !important;

}

.home-services-content {
	margin:auto 7%;
	margin-bottom: 3%;
}

.footer-language-select {
	float:right;
}

.footer-social-icons {

}



/* about page */

.about-heading-main {
	height:260px;
	background: #f7f9fa;
}

.about-top-heading1 {
	margin-bottom:5px;
	margin-top:100px;
}


.about-top-heading {
	text-align: center;
	font-size: 25px;
	font-weight: 300;
	border:2px solid #E1E1E1;
	padding:20px;
	color: #999;
}


.cd-container {
	/* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	width: 90%;
	max-width: 1024px;
	margin: 0 auto;
}
.cd-container::after {
	/* clearfix */
	content: "";
	display: table;
	clear: both;
}

/* --------------------------------

Main components

-------------------------------- */
header {
	height: 200px;
	line-height: 200px;
	text-align: center;
	background: #303e49;
}
header h1 {
	color: #ffffff;
	font-size: 18px;
	font-size: 1.125rem;
}
@media only screen and (min-width: 1024px) {
	header {
		height: 300px;
		line-height: 300px;
	}
	header h1 {
		font-size: 24px;
		font-size: 1.5rem;
	}
}

#cd-timeline {
	position: relative;
	padding: 7em 0;
	margin-bottom: 2em;
}
#cd-timeline::before {
	/* this is the vertical line */
	content: "";
	position: absolute;
	top: 0;
	left: 18px;
	height: 100%;
	width: 4px;
	background: #E1E1E1;
}
@media only screen and (min-width: 1024px) {
	#cd-timeline {
		margin-bottom: 3em;
		margin-top:15px;
	}
	#cd-timeline::before {
		left: 50%;
		margin-left: -2px;
	}
}

.cd-timeline-block {
	position: relative;
	margin: 2em 0;
}
.cd-timeline-block::after {
	clear: both;
	content: "";
	display: table;
}
.cd-timeline-block:first-child {
	margin-top: 0;
}
.cd-timeline-block:last-child {
	margin-bottom: 0;
}
@media only screen and (min-width: 1024px) {
	.cd-timeline-block {
		margin: 4em 0;
	}
	.cd-timeline-block:first-child {
		margin-top: 0;
	}
	.cd-timeline-block:last-child {
		margin-bottom: 0;
	}
}

.cd-timeline-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.cd-timeline-img img {
	display: block;
	width: 24px;
	height: 24px;
	position: relative;
	left: 50%;
	top: 50%;
	margin-left: -12px;
	margin-top: -12px;
}
.cd-timeline-img {
	background: #DADADA;
}

.cd-timeline-img i {
	padding: 18px;
	color: white;
}

.cd-timeline-img.cd-movie {
}
.cd-timeline-img.cd-location {
}
@media only screen and (min-width: 1024px) {
	.cd-timeline-img {
		width: 60px;
		height: 60px;
		left: 50%;
		margin-left: -30px;
		/* Force Hardware Acceleration in WebKit */
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
	}
	.cssanimations .cd-timeline-img.is-hidden {
		visibility: hidden;
	}
	.cssanimations .cd-timeline-img.bounce-in {
		visibility: visible;
		-webkit-animation: cd-bounce-1 0.6s;
		-moz-animation: cd-bounce-1 0.6s;
		animation: cd-bounce-1 0.6s;
	}
}

@-webkit-keyframes cd-bounce-1 {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes cd-bounce-1 {
	0% {
		opacity: 0;
		-moz-transform: scale(0.5);
	}
	60% {
		opacity: 1;
		-moz-transform: scale(1.2);
	}
	100% {
		-moz-transform: scale(1);
	}
}
@keyframes cd-bounce-1 {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5);
		-moz-transform: scale(0.5);
		-ms-transform: scale(0.5);
		-o-transform: scale(0.5);
		transform: scale(0.5);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
		transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}
.cd-timeline-content {
	position: relative;
	margin-left: 60px;
	background: #ffffff;
	border-radius: 0.25em;
	padding: 1em;
	background:#F1F1F1;
}
.cd-timeline-content::after {
	clear: both;
	content: "";
	display: table;
}
.cd-timeline-content h2 {
	color: #303e49;
	font-weight:300;
}
.cd-timeline-content p,
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
	font-size: 13px;
	font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
	display: inline-block;
}
.cd-timeline-content p {
	margin: 1em 0;
	font-weight: 300;
	line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
	float: right;
	padding: 0.8em 1em;
	background: #acb7c0;
	color: #ffffff;
	border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
	background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
	float: left;
	padding: 0.8em 0;
	opacity: 0.7;
}
.cd-timeline-content::before {
	content: "";
	position: absolute;
	top: 16px;
	right: 100%;
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-right: 7px solid #EFEFEF;
}
@media only screen and (min-width: 768px) {
	.cd-timeline-content h2 {
		font-size: 20px;
		font-size: 1.25rem;
	}
	.cd-timeline-content p {
		font-size: 16px;
		font-size: 1rem;
	}
	.cd-timeline-content .cd-read-more,
	.cd-timeline-content .cd-date {
		font-size: 14px;
		font-size: 0.875rem;
	}
}
@media only screen and (min-width: 1024px) {
	.cd-timeline-content {
		margin-left: 0;
		padding: 1.6em;
		width: 45%;
	}
	.cd-timeline-content::before {
		top: 24px;
		left: 100%;
		border-color: transparent;
		border-left-color: #EFEFEF;
	}
	.cd-timeline-content .cd-read-more {
		float: left;
	}
	.cd-timeline-content .cd-date {
		position: absolute;
		width: 100%;
		left: 122%;
		top: 6px;
		font-size: 16px;
		font-size: 1rem;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content {
		float: right;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
		top: 24px;
		left: auto;
		right: 100%;
		border-color: transparent;
		border-right-color: #EFEFEF;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
		float: right;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
		left: auto;
		right: 122%;
		text-align: right;
	}
	.cssanimations .cd-timeline-content.is-hidden {
		visibility: hidden;
	}
	.cssanimations .cd-timeline-content.bounce-in {
		visibility: visible;
		-webkit-animation: cd-bounce-2 0.6s;
		-moz-animation: cd-bounce-2 0.6s;
		animation: cd-bounce-2 0.6s;
	}
}

@media only screen and (min-width: 1024px) {
	/* inverse bounce effect on even content blocks */
	.cssanimations
	.cd-timeline-block:nth-child(even)
	.cd-timeline-content.bounce-in {
		-webkit-animation: cd-bounce-2-inverse 0.6s;
		-moz-animation: cd-bounce-2-inverse 0.6s;
		animation: cd-bounce-2-inverse 0.6s;
	}
}
@-webkit-keyframes cd-bounce-2 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(20px);
	}
	100% {
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes cd-bounce-2 {
	0% {
		opacity: 0;
		-moz-transform: translateX(-100px);
	}
	60% {
		opacity: 1;
		-moz-transform: translateX(20px);
	}
	100% {
		-moz-transform: translateX(0);
	}
}
@keyframes cd-bounce-2 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
		-moz-transform: translateX(-100px);
		-ms-transform: translateX(-100px);
		-o-transform: translateX(-100px);
		transform: translateX(-100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(20px);
		-moz-transform: translateX(20px);
		-ms-transform: translateX(20px);
		-o-transform: translateX(20px);
		transform: translateX(20px);
	}
	100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}
@-webkit-keyframes cd-bounce-2-inverse {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
	}
	100% {
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes cd-bounce-2-inverse {
	0% {
		opacity: 0;
		-moz-transform: translateX(100px);
	}
	60% {
		opacity: 1;
		-moz-transform: translateX(-20px);
	}
	100% {
		-moz-transform: translateX(0);
	}
}
@keyframes cd-bounce-2-inverse {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
		-moz-transform: translateX(100px);
		-ms-transform: translateX(100px);
		-o-transform: translateX(100px);
		transform: translateX(100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
		-moz-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		-o-transform: translateX(-20px);
		transform: translateX(-20px);
	}
	100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}

.about-heading {
	border-left:2px solid black;
	margin:5em 0;
}

.about-heading h1 {
}


.about-corporate-table th {
	font-weight: 500;
	color:#666;
	font-size: 13px;

}

.about-corporate-table td {
	font-weight: 400;
	color: #777;
	padding-left: 20%;
	font-size: 13px;
}

.about-heading-plain1 {
	font-weight: 100;
}
/*
/* about page ends */
.about-section h4 {
	color:#555;
	font-weight:300;
}

.about-contact-icon {

}

.about-contact-icon i{
	font-size: 3rem;
}

.about-contact-text {
	border-left:1px solid #eee;
	height: 6rem;
}
.about-contact-text p {
	color:#555;
	font-weight: 300;
	font-size:13px;
}


.about-contact-text h6 {
	color:#555;
	font-weight: 400;
}


/* blog page css */

.blog .card-image {
	overflow: hidden;
	height:300px;
}

.blog .card-image img{

}
.blog-recent-posts {
	font-size:12px;
}
.blog .card-title {
	background: rgba(0,0,0,0.4);
}
.blog-banner {
	height: 260px;
	background: #f7f9fa;
}

.blog-banner h1 {
	font-weight: 100;
}


.blog-content {
	min-height:800px;
}

.article-banner-image {
	height:270px;
	overflow:hidden;
}

.article-banner-image img {
	width: 100%;
}


.article-container {
	padding:2% 30px;
	min-height: 1000px;
}

.blog-news-feed {
	height: 230px;
	overflow: scroll;
}

.blog-recent-posts .collection-item {
	padding:5px !important;
}


.blog-recent-posts .collection-header {
	padding-left:5px !important;
}


.blog-recent-article1 {
	padding-top:10px;
}

/* cg section */

.video-container {
	overflow: hidden;
}
.portfolio-video {
	min-width:100%;
	min-height:100%;
}

.video-overlay {
	position: absolute;
	top: 0;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANklEQVQYlWNYtWqVMQMSWLVqlTE2MQZcAhiS+CQImoTVZGyKsComWiHRVpPkGVyewqsLV4ADAEr5TuVwzxgzAAAAAElFTkSuQmCC) repeat, url(https://hubskills.com/bg-1.png); background-position: left top;
	background-repeat: repeat;
	height:100%;
	background-color: rgba(0,0,0,0.5);
	width:100%;
}

.video-overlay1 {
	position: absolute;
	top:65%;
	right:5%;
}
.video-overlay1 h2{

	font-weight:200;
}
.video-overlay1 p{

	font-weight:300;
	font-size:16px;
}


.cg-features {
	padding: 144px 0;
	height: 622px;
	background: url(../images/cg3.jpg);
	background-position: center;
	background-size: cover;
}


.cg-features h2 {
	font-weight: 200;
	text-align: center !important;
	padding: 83px 0;
	color: #fff;
	/* height: 310px; */
}

.cg-features .collapsible-header {
	background: none;
	color: #fff !important;
}
.cg-features .collapsible-body {
	color: #fff !important;
	font-weight: 300;
}

.service-hover-heading {
	font-weight: 300;
	margin:191px 0;
	text-align: center;
}


/* CG portfolio hover css */


@import url(https://fonts.googleapis.com/css?family=Open+Sans:600;);
.snip1573 {
	background-color: #000;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 10px 7px;
	max-width: 200px;
	min-width: 230px;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;
}

.snip1573 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.snip1573:before,
.snip1573:after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	background-color: #000000;
	border-left: 3px solid #fff;
	border-right: 3px solid #fff;
	content: '';
	opacity: 0.9;
	z-index: 1;
}

.snip1573:before {
	-webkit-transform: skew(45deg) translateX(-155%);
	transform: skew(45deg) translateX(-155%);
}

.snip1573:after {
	-webkit-transform: skew(45deg) translateX(155%);
	transform: skew(45deg) translateX(155%);
}

.snip1573 img {
	backface-visibility: hidden;
	max-width: 100%;
	vertical-align: top;
}

.snip1573 figcaption {
	top: 50%;
	left: 50%;
	position: absolute;
	z-index: 2;
	-webkit-transform: translate(-50%, -50%) scale(0.5);
	transform: translate(-50%, -50%) scale(0.5);
	opacity: 0;
	-webkit-box-shadow: 0 0 10px #000000;
	box-shadow: 0 0 10px #000000;
}

.snip1573 h3 {
	background-color: #000000;
	border: 2px solid #fff;
	color: #fff;
	font-size: 1em;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0;
	padding: 5px 10px;
	text-transform: uppercase;
}

.snip1573 a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
}

.snip1573:hover > img,
.snip1573.hover > img {
	opacity: 0.5;
}

.snip1573:hover:before,
.snip1573.hover:before {
	-webkit-transform: skew(45deg) translateX(-55%);
	transform: skew(45deg) translateX(-55%);
}

.snip1573:hover:after,
.snip1573.hover:after {
	-webkit-transform: skew(45deg) translateX(55%);
	transform: skew(45deg) translateX(55%);
}

.snip1573:hover figcaption,
.snip1573.hover figcaption {
	-webkit-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
}


.picture-portfolio {
	background: #EFEFBB;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding:90px 0;
}

.picture-portfolio img {
	border: 1px solid white;
	width: 200px;
	margin:50px 0;

}

.picture-portfolio1 {
	font-weight: 100;
	margin:100px 0;
}

.picture-portfolio1 h4 {
	font-weight: 100;
}

.picture-portfolio1 p{
	font-weight: 300;
}

.service-hover-section {
	padding: 3% 0;
	margin-bottom:0;
}

.service-hover-section img {
	border: 3px solid white;
	width:400px;
}

.service-hover-section p {
	font-size:1.6em;
	font-weight:300;
	text-align: center;
	margin:100px 0;
}

.service-hover-header h2{
	color:#333;
	font-weight:400;
	margin:4% 0;
}

.service-hover-section1 {
	margin-top:4%;
	margin-bottom: 0;
	background: #ECE9E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.access-send-btn {
	margin-left:11px;
}

.home-banner-image2 img{
	margin:3% 0;
}

.studio-features {
	padding:5% 0;
	margin-bottom:0;
}

.studio-features-subheading1 {
	color: #FF396A;
	font-size:1.6rem;
	text-align: left;

}

.studio-features-heading {
	font-size:14px;
	letter-spacing: 1px;
}

.studio-features p {
	color: #777;
	font-size:13px;
	line-height: 20px;
	text-align: justify;
}

.studio-features2 {
	padding:0;
}
.studio-features2 h3 {
	font-family:"Roboto";
	margin-bottom:30px;
}

.studio-features2-section {
	padding-left:40px;
	margin-top:-10px;
}

.studio-features2-section.border-left {
	border-left:dashed 1px #999;
}

.studio-features2-section div{
	font-size:14px;
	letter-spacing: 1px;
	margin-top: -30px;
}
.studio-features2-section p{
	color: #777;
	font-size:13px;
	line-height: 20px;
	text-align: justify;
	padding-bottom:15px;

}


.studio-features2-icontainer {
	margin-left:-60px;
	height:40px;
	width:40px;
	background: #FF396A;
	border-radius:50%;

}

.studio-features2-icontainer i {
	padding: 8px;
	color: white;
	font-size: 25px
}


.studio-features-mcontainer {
	height:500px;
	width:250px;
	margin:0 auto;
	overflow: hidden;
}

.studio-features-mcontainer1 {
	height:500px;
	z-index:1;
}

.studio-features-mimage{
	height:500px;

	margin-top:-500px;

}

.home-companies img {
	height:150px;
}

.studio-features2-left {
	margin:0;
}


.nav-active {
	background: #f5f5f5;
}


.banner-text p {
	font-size: 20px;
	font-weight:300;
}


.brand-logo {
	font-weight:normal !important;
	font-family: 'Roboto' !important;
}

.nopad {
	padding:0 !important;
}


.video-container {
	background: url("../images/vidStatic.png");
}

.pace .pace-progress {
	height: 3px !important;
	background: #2196F3 !important;
}

.brand-logo-img {
	height:40px;
	margin:5px 0;
}


.logo-holder {
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%,0);
}
.logo-holder a{
	font-size:2.5rem;
	vertical-align: top;
}


/*abhi*/

{box-sizing: border-box;}

.container_a {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container_a:hover .overlay {
  opacity: 1;
}






.style_prevu_kit
{
    display:inline-block;
    border:0;
    width:280px;
    height:300px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);

}
.style_prevu_kit:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.25);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.25);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.25);
    transition: all 200ms ease-in;
    transform: scale(1.25);
}


.hero {
background: url('images/hero.jpg') no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
display: table;
width: 100%;
}
.hero .container {
display: table-cell;
text-align: center;
vertical-align: middle;
height: 689px
}




