{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}


<div class="row container">
    <div class="col s12">
        <h5 class="center">BEST SELLERS</h5>
        <p class="center">This unique jewelry is handcrafted on the beautiful island of Nantucket using fine silver and semi precious stones.
            View glasse fashion collection 2018 by Fanbong</p>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="row">
            {% if product_list %}
            {% for obj in product_list %}
            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{obj.image.url}}" class="responsive-img materialboxed">
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content">
                        <p>{{obj.gender_category}}</p>
                    </div>
                    <div class="card-action grey-text">
                        <span class="card-title ">{{obj.title}}</span>
                        <br>
                        <!--<p><strike>${{obj.original_price}}</strike>  ${{obj.selling_price}}</p>-->
                        <!--<a href="#">Link</a>-->
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h2 class="center">No results found for this category</h2>
            <p class="center">Kindly visit again later</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}


{% block script %}

{% endblock script %}