{% load static %}

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <title>{% block title %} CALMMCALMM {% endblock title %}</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import fontawesome stylesheet-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/medium.css' %}">
    <link rel="stylesheet" href="{% static 'css/medium_and_below.css' %}">
    <link rel="stylesheet" href="{% static 'css/small_screen.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>


<body>

<nav>
    <div class="nav-wrapper white navigation hide-on-small-only">
        <span class="logo-holder">
                    <a href="{% url 'home:index' %}" class="no-decoration"><img src="/static/images/logo-preview.jpg" alt="logo" class="brand-logo-img "> </a>

        </span>

        <ul class="left hide-on-med-and-down">
            <li ><a class='black-text text-blue-ligten-2 {% if home_page %} nav-active {% endif %}' href="{% url 'home:index' %}">Home</a></li>
            <li><a class='black-text text-blue-ligten-2 ' href="{% url 'shop' %}">SHOP</a></li>
            <li><a class='black-text text-blue-ligten-2 ' href="{% url 'blog:blogs' %}">BLOG</a></li>
            <li ><a class='black-text text-blue-ligten-2 ' href="">ABOUT</a></li>
            <li ><a class='black-text text-blue-ligten-2 ' href="">CONTACT</a></li>
        </ul>
    </div>
    <div class="row navigation hide-on-med-only hide-on-large-only" id="customNavbar">
        <div class="col s4">
            <a class="btn btn-floating  white-text waves-effect waves-light button-collapse left sidenav-trigger" data-target="slide-out"><i class="material-icons">menu</i>
            </a>
        </div>
        <div class="col s4 center">
            <a href="{% url 'home:index' %}" class="no-decoration"><img src="/static/images/logo-preview.jpg" alt="logo"  class="brand-logo-img"></a>
        </div>
        <div class="col s4">

        </div>
    </div>
</nav>


<ul id="slide-out" class="sidenav">
    <li>
        <h3 class="center">
            <a href="{{% url 'home:index' %}" class="no-decoration"><img src="/static/images/logo-preview.jpg" alt="logo"  class="brand-logo-img"></a>
        </h3>
        <hr>
    </li>
    <br>
    <li ><a class='black-text text-blue-ligten-2 {% if home_page %} nav-active {% endif %}' href="{% url 'home:index' %}">HOME</a></li>
    <li><a class='black-text text-blue-ligten-2' href="{% url 'shop' %}">SHOP</a></li>
    <li><a class='black-text text-blue-ligten-2' href="{% url 'blog:blogs' %}">BLOG</a></li>
    <li><a class='black-text text-blue-ligten-2' href="">ABOUT</a></li>
    <li><a class='black-text text-blue-ligten-2' href="">CONTACT</a></li>
</ul>



{% block content %}

{% endblock content %}

<footer class="page-footer white black-text">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <div class="footer-logo">
                    <img src="/static/images/logo-preview.jpg" alt="logo">
                </div>

                <h5 >Follow us on</h5>
                <!--<a href="#" class="fa fa-facebook"></a> |-->
                <!--<a href="#" class="fa fa-twitter"></a> |-->
                <a href="https://www.instagram.com/calmmcalmm_/" target="_blank" class="fa fa-instagram" title="Instagram"></a>


            </div>
            <div class="col l6 s12">
                <h5 class="">CONCIERGE</h5>
                <p>Don't hesitate in contacting us for any questions you might have.</p>
                <div class="row">
                    <div class="col s1">
                        <ul>
                            <li><i href="" class="fa fa-question"></i></li>
                            <li><i href="" class="fa fa-envelope"></i></li>
                            <li><i href="" class="fa fa-phone"></i></li>
                            <li><i href="" class="fa fa-location-arrow"></i></li>
                        </ul>
                    </div>
                    <div class="col s11">
                        <ul>
                            <li><i href="" class=""> FREQUENTLY ASKED QUESTIONS</i></li>
                            <li><i href="" class=""> +82 010 2113 4938</i></li>
                            <li><i href="" class=""> hongddo12@gmail.com</i></li>
                            <li><i href="" class=""> 서울시 은평구 신사동 23-23번지 3층 301호 (증산로 471-5)</i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container black-text">
            © 2018 Copyright
            <!--<a class="grey-text  right" href="#!">More</a>-->
        </div>
    </div>
</footer>




<!--Import jQuery before materialize.js-->
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>-->

<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
    });
</script>

<script>
    $(document).ready(function(){
        $('.slider').slider();
    });

</script>
<script>
    $(document).ready(function(){
        $('.carousel.carousel-slider').carousel({
            indicators: true
        });
    });
</script>
<script>

    $(document).ready(function(){
        $('.parallax').parallax();
    });
</script>

<script>
    $(document).ready(function(){
        $('.fixed-action-btn').floatingActionButton();
    });

</script>







{% block script %}

{% endblock script %}



</body>
</html>